.graticule{:id => dom_id(graticule)}
  %span.coordinates= "#{graticule.latitude}, #{graticule.longitude}"
  %span.unsubscribe= link_to('unsubscribe', subscription_path(subscription), :method => :delete)

  %h3.name= graticule.name
  %ul.links
    %li= link_to('xkcd geohashing wiki', graticule.wiki_link)
    %li= link_to('peeron map lookup tool', graticule.peeron_link)
    %li= link_to('google earth feed', graticule_path(graticule, :format => :kml))

