<div class='graticule' id='<%= dom_id(graticule) %>'>
  <span class='coordinates'>
    <%= graticule.latitude %>, <%= graticule.longitude %>
  </span>
  <span class='unsubscribe'>
    <%= link_to('unsubscribe', subscription_path(subscription), :method => :delete) %>
  </span>
  
  <h3 class='name'><%= graticule.name %></h3>
  <ul class='links'>
    <li><%= link_to('xkcd geohashing wiki', graticule.wiki_link) %></li>
    <li><%= link_to('peeron map lookup tool', graticule.peeron_link) %></li>
  </ul>
</div>

