.graticule.span-23{:id => dom_id(graticule)}
  .span-5.first
    %span.coordinates= "#{graticule.latitude}, #{graticule.longitude}"

  .span-7
    %h3.name= link_to(graticule.name || '[Awaiting graticule name]', pretty_graticule_path(graticule.latitude, graticule.longitude))
    %ul.links
      %li= link_to('xkcd geohashing wiki', graticule.wiki_link)
      %li= link_to('peeron map lookup tool', graticule.peeron_link)
      %li= link_to('anthill visualisation tool', graticule.anthill_link(current_user))
      %li= link_to('google earth feed', graticule_path(graticule, :format => :kml))

  .span-7
    = render :partial => 'graticules/latest_geohashes', :locals => {:graticule => graticule}

  .span-4.last{:style => "text-align:right;"}
    = link_to('unsubscribe', subscription_path(subscription), :method => :delete)
    

