.span-24
  .span-16.first
    %h1= @graticule.latitude + ', ' + @graticule.longitude
    %h2= @graticule.name

    %h3 Useful links

    %p.graticule_link
      = image_tag('geohashing_wiki_logo_60.png', :size => '60x60', :alt => 'Wiki')
      = link_to('xkcd geohashing wiki', @graticule.wiki_link)

    %p.graticule_link
      = image_tag('peeron.png', :size => '60x60', :alt => 'Peeron')
      = link_to('peeron map lookup tool', @graticule.peeron_link)

    %p.graticule_link
      = image_tag('anthill.png', :size => '60x60', :alt => 'Anthill')
      = link_to('anthill lookup tool', @graticule.anthill_link)

    %p.graticule_link
      = image_tag('google_earth.jpg', :size => '60x60', :alt => 'Google Earth')
      = link_to('google earth feed', graticule_path(@graticule, :format => :kml))

    %br/
    %h3 Social media links

    %p.graticule_link
      = image_tag('twitter.png', :size => '60x60', :alt => 'Twitter')
      = link_to("twitter: ##{@graticule.tag}", @graticule.twitter_hashtag_link)

    %p.graticule_link
      = image_tag('flickr.png', :size => '60x60', :alt => 'Flickr')
      = link_to("flickr: #{@graticule.tag}", @graticule.flickr_link)

    %p.graticule_link
      = image_tag('youtube.png', :size => '60x60', :alt => 'Youtube')
      = link_to("youtube: #{@graticule.tag}", @graticule.youtube_link)

  .span-8.last
    .google_map_container
      = image_tag(@graticule.google_map(request), :alt => @graticule.name || "Graticule map", :size => "300x400", :class => 'google_map')

    %br/
    = render :partial => 'latest_geohashes', :locals => {:graticule => @graticule}


.span-24
  pictures here
