.span-24
  .span-16.first
    %h2= @graticule.display_name

    %h3= t('common.useful_links')

    %p.graticule_link
      = image_tag('rss.jpg', :size => '60x60', :alt => t('.rss_feed'))
      = link_to(t('.rss_feed'), formatted_pretty_graticule_url(@graticule.latitude, @graticule.longitude, :rss))

    %p.graticule_link
      = image_tag('geohashing_wiki_logo_60.png', :size => '60x60', :alt => t('wiki'))
      = link_to(t('wiki'), @graticule.wiki_link)

    %p.graticule_link
      = image_tag('peeron.png', :size => '60x60', :alt => t('peeron'))
      = link_to(t('peeron'), @graticule.peeron_link)

    %p.graticule_link
      = image_tag('anthill.png', :size => '60x60', :alt => t('anthill'))
      = link_to(t('anthill'), @graticule.anthill_link)

    %p.graticule_link
      = image_tag('google_earth.jpg', :size => '60x60', :alt => t('.google_earth_feed'))
      = link_to(t('.google_earth_feed'), graticule_path(@graticule, :format => :kml))

    %br/
    %h3= t('.social_media_links')
    - tag = @graticule.tag
    
    %p.graticule_link
      = image_tag('twitter.png', :size => '60x60', :alt => 'Twitter')
      = link_to(t('.twitter', :tag => '#' + tag), @graticule.twitter_hashtag_link)

    %p.graticule_link
      = image_tag('flickr.png', :size => '60x60', :alt => 'Flickr')
      = link_to(t('.flickr', :tag => tag), @graticule.flickr_link)

    %p.graticule_link
      = image_tag('youtube.png', :size => '60x60', :alt => 'YouTube')
      = link_to(t('.youtube', :tag => tag), @graticule.youtube_link)

  .span-8.last
    - if logged_in?
      .subscription_buttons{:style => 'margin-bottom: 1em;'}
        - if current_user.subscribed_to_graticule?(@graticule)
          - subscription = Subscription.find_by_user_id_and_graticule_id(current_user, @graticule)
          = link_to(t('.buttons.unsubscribe'), subscription_path(subscription), :method => :delete, :class => 'button white')
        - else
          = link_to(t('.buttons.subscribe'), subscriptions_path(:latitude => @graticule.latitude, :longitude => @graticule.longitude), :method => :post, :class => 'button green')

    = render :partial => 'nsew'

    .google_map_container
      = image_tag(@graticule.google_map_with_latest_geohashes(request), :alt => @graticule.name || t('.graticule_map'), :size => "300x400", :class => 'google_map')

    %br/

    = render :partial => 'latest_geohashes', :locals => {:graticule => @graticule}


.span-24
  %h3= t('.live_from_twitter')
  %p= t('.latest_tweets_will_show_up_here', :tag => '#' + tag)
  %script{:src => "http://widgets.twimg.com/j/2/widget.js", :type => "text/javascript"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '##{tag}',
      interval: 6000,
      title: '#{t(".tweets_tagged")}',
      subject: '##{tag}',
      width: 'auto',
      height: 200,
      theme: {
        shell: { background: '#eeeeee', color: '#888888' },
        tweets: { background: '#ffffff', color: '#444444', links: '#111111' }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        behavior: 'default'
      }
    }).render().start();
  %br/

  %h3= t('.pictures_from_flickr')
  .flickr_photos
    %script{:type => 'text/javascript', :src => "http://www.flickr.com/badge_code_v2.gne?show_name=1&count=8&display=latest&size=t&layout=h&source=all_tag&tag=#{@graticule.tag}&user=89953410%40N00"}
    %p= t('.look_on_flickr', :link => link_to(t('.photos_and_videos_tagged', :tag => tag), "http://www.flickr.com/photos/tags/#{@graticule.tag}"))
