.span-24
  .span-16.first
    %h1= @graticule.latitude + ', ' + @graticule.longitude
    %h2= @graticule.name || "[Awaiting graticule name]"

    %h3 Useful links

    %p.graticule_link
      = image_tag('geohashing_wiki_logo_60.png', :size => '60x60', :alt => 'Wiki')
      = link_to('xkcd geohashing wiki', @graticule.wiki_link)

    %p.graticule_link
      = image_tag('peeron.png', :size => '60x60', :alt => 'Peeron')
      = link_to('peeron map lookup tool', @graticule.peeron_link)

    %p.graticule_link
      = image_tag('anthill.png', :size => '60x60', :alt => 'Anthill')
      = link_to('anthill lookup tool', @graticule.anthill_link)

    %p.graticule_link
      = image_tag('google_earth.jpg', :size => '60x60', :alt => 'Google Earth')
      = link_to('google earth feed', graticule_path(@graticule, :format => :kml))

    %br/
    %h3 Social media links

    %p.graticule_link
      = image_tag('twitter.png', :size => '60x60', :alt => 'Twitter')
      = link_to("twitter: ##{@graticule.tag}", @graticule.twitter_hashtag_link)

    %p.graticule_link
      = image_tag('flickr.png', :size => '60x60', :alt => 'Flickr')
      = link_to("flickr: #{@graticule.tag}", @graticule.flickr_link)

    %p.graticule_link
      = image_tag('youtube.png', :size => '60x60', :alt => 'Youtube')
      = link_to("youtube: #{@graticule.tag}", @graticule.youtube_link)

  .span-8.last
    - if logged_in?
      .subscription_buttons
        - if current_user.subscribed_to_graticule?(@graticule)
          - subscription = Subscription.find_by_user_id_and_graticule_id(current_user, @graticule)
          = link_to(image_tag('graticule_unsubscribe.png'), subscription_path(subscription), :method => :delete)
        - else
          = link_to(image_tag('graticule_subscribe.png'), subscriptions_path(:latitude => @graticule.latitude, :longitude => @graticule.longitude), :method => :post)

    .google_map_container
      = image_tag(@graticule.google_map_with_latest_geohashes(request), :alt => @graticule.name || "Graticule map", :size => "300x400", :class => 'google_map')

    %br/
    = render :partial => 'latest_geohashes', :locals => {:graticule => @graticule}


.span-24
  %h3 Live from twitter
  %p
    Latest tweets tagged
    = '#' + @graticule.tag
    will show up here.
  %script{:src => "http://widgets.twimg.com/j/2/widget.js", :type => "text/javascript"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '##{@graticule.tag}',
      interval: 6000,
      title: 'tweets tagged',
      subject: '##{@graticule.tag}',
      width: 'auto',
      height: 200,
      theme: {
        shell: { background: '#eeeeee', color: '#888888' },
        tweets: { background: '#ffffff', color: '#444444', links: '#111111' }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        behavior: 'default'
      }
    }).render().start();
  %br/

  %h3 Pictures from flickr
  .flickr_photos
    %script{:type => 'text/javascript', :src => "http://www.flickr.com/badge_code_v2.gne?show_name=1&count=8&display=latest&size=t&layout=h&source=all_tag&tag=#{@graticule.tag}&user=89953410%40N00"}
    %p
      Look for
      %a{:href => "http://www.flickr.com/photos/tags/#{@graticule.tag}"}photos or videos tagged with #{@graticule.tag}
      on Flickr
