<p>Hi <%= @user.name %></p>

<p>Here are your upcoming geohash locations:</p>

<% if @user.location_set? -%>
  <% show_locations = true -%>
<% end -%>

<ul>
<% @user.graticules.by_latitude_and_longitude.each do |graticule| -%>
  <li><strong><%= graticule.display_name %></strong>
  <ul>
  <% graticule.geohashes.new_since(@start_time).each do |geohash| -%>
    <li><%= geohash.date.strftime('%A') %>: <em><%= geohash.latitude_display %>, <%= geohash.longitude_display %></em>: <%= geohash.place_name_display %>
      <% if show_locations -%>
        (<%= @user.distance_to(geohash.lat, geohash.lng) %>)
      <% end -%>
      <ul>
        <li>
          Links:
          <%= link_to('peeron', geohash.peeron_link) %>
          | <%= link_to('google', geohash.google_link) %>
          <% if show_locations %>
            | <%= link_to('directions', geohash.directions_link(@user.latitude_display, @user.longitude_display)) %>
          <% end %>
          | <%= link_to('anthill', geohash.anthill_link(@user)) %>
          | <%= link_to('<abbr title="Open Street Map">osm</abbr>', geohash.osm_link) %>
          | <%= link_to('wiki', geohash.wiki_link) %>
        </li>
        <br />
      </ul>
    </li>
  <% end -%>
  </ul>
  <br /></li>
  
<% end -%>

  <li><strong>Globalhash</strong>
    <ul>
    <% Globalhash.new_since(@start_time).each do |globalhash| -%>
      <li>
        <%= globalhash.date.strftime('%A') %>: <em><%= globalhash.latitude_display %>, <%= globalhash.longitude_display %></em>: <%= globalhash.place_name_display %>
        <% if show_locations -%>
          (<%= @user.distance_to(globalhash.lat, globalhash.lng) %>)
        <% end -%>
        <ul>
          <li>
            Links:
            <%= link_to('google', globalhash.google_link) %>
            | <%= link_to('<abbr title="Open Street Map">osm</abbr>', globalhash.osm_link) %>
          </li>
        </ul>
      </li>
    <% end -%>
    </ul>
  </li>
</ul>

<% if show_locations %>
  <p>Please note that distances are calculated as straight lines; the distance by road may well be longer. Google can give you directions - use the links to find out!</p>
<% end %>

<p>Happy geohashing!</p>
<p><%= link_to('Active geohasher', 'http://activegeohasher.com') %></p>

