<p><%= t('.hi_name', :name => @user.name) %></p>

<p><%= t('.here_are_your_upcoming_geohash_locations') %></p>

<% if @user.location_set? -%>
  <% show_locations = true -%>
<% end -%>

<% links = @user.preferred_links.split(',') -%>
<% custom_links = @user.custom_links -%>

<% @user.new_geohashes_since(@start_time).each do |date, geohashes| -%>
  <hr />
  <h3><%= l(date, :format => :long) %></h3>
  <% geohashes.each do |geohash| -%>
    <strong><%= link_to(geohash.graticule_display_name, pretty_graticule_url(geohash.graticule_latitude, geohash.graticule_longitude, :host => 'activegeohasher.com')) %></strong>
    <ul>
      <li>
        <span style="background-color:#c8ffc8;"><%= geohash.place_name_display %></span>
        <em>(<%= geohash.latitude_longitude_display %>)</em>
        <% if show_locations -%>
          <span style="background-color:#ffffc8;"><%= t('.distance_away', :distance => @user.distance_to(geohash.lat, geohash.lng)) %></span>
        <% end -%>
      </li>
      <% if links.any? -%>
        <li>
          <%= t('.links') %>
          <%= " | " + link_to(I18n.t('ag'), pretty_geohash_url(geohash.date, geohash.graticule_latitude, geohash.graticule_longitude, :host => 'activegeohasher.com')) if links.include?('ag') %>
          <%= " | " + link_to(I18n.t('wiki'), geohash.wiki_link) if links.include?('wiki') %>
          <%= " | " + link_to(I18n.t('google'), geohash.google_link) if links.include?('google') %>
          <%= " | " + link_to(I18n.t('bing'), geohash.bing_link) if links.include?('bing') %>
          <%= " | " + link_to(I18n.t('osm'), geohash.osm_link) if links.include?('osm') %>
          <%= " | " + link_to(I18n.t('directions'), geohash.directions_link(@user.latitude_display, @user.longitude_display)) if links.include?('directions') && show_locations %>
          <%= " | " + link_to(I18n.t('peeron'), geohash.peeron_link) if links.include?('peeron') %>
          <%= " | " + link_to(I18n.t('anthill'), geohash.anthill_link) if links.include?('anthill') %>
          <%= " | " + link_to(I18n.t('geocaching'), geohash.geocaching_link) if links.include?('geocaching') %>
        </li>
      <% end -%>
      <% if custom_links.any? -%>
        <li>
        <%= t('common.custom_links') %>
        <% custom_links.each do |custom_link| -%>
          <%= " | " + link_to(custom_link.name, custom_link.magic_url({:latitude => geohash.lat, :longitude => geohash.lng})) %>
        <% end -%>
        </li>
      <% end -%>
    </ul>
    <%# <br />%>
  <% end -%>

  <% globalhash = Globalhash.find_by_date(date) -%>
  <% if globalhash -%>
    <strong><%= link_to(t('.globalhash'), globalhashes_url(:host => 'activegeohasher.com')) %></strong>
    <ul>
      <li>
        <span style="background-color:#c8ffc8;"><%= globalhash.place_name_display %></span>
        <em>(<%= globalhash.latitude_longitude_display %>)</em>
        <% if show_locations -%>
          <span style="background-color:#ffffc8;"><%= t('.distance_away', :distance => @user.distance_to(globalhash.lat, globalhash.lng)) %></span>
        <% end -%>
      </li>
      <% if links.any? -%>
        <li>
          <%= t('.links') %>
          <%= " | " + link_to(I18n.t('ag'), pretty_globalhash_url(globalhash.date, :host => 'activegeohasher.com')) if links.include?('ag') %>
          <%= " | " + link_to(I18n.t('google'), globalhash.google_link) if links.include?('google') %>
          <%= " | " + link_to(I18n.t('bing'), globalhash.bing_link) if links.include?('bing') %>
          <%= " | " + link_to(I18n.t('osm'), globalhash.osm_link) if links.include?('osm') %>
        </li>
      <% end -%>
      <% if custom_links.any? -%>
        <li>
        <%= t('common.custom_links') %>
        <% custom_links.each do |custom_link| -%>
          <%= " | " + link_to(custom_link.name, custom_link.magic_url({:latitude => globalhash.lat, :longitude => globalhash.lng})) %>
        <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>

<hr />

<% if show_locations %>
  <p><%= t('.please_note_that_distances_are_calculated_as_straight_lines') %></p>
<% end %>

<p><%= t('.happy_geohashing') %></p>
<p><%= link_to('Active geohasher', 'http://activegeohasher.com') %></p>

