%h2= t('common.custom_links')

%p= t('.add_links_here')
%p= t('.use_latitude_and_longitude_placeholders', :latitude => '<code>[LATITUDE]</code>', :longitude => '<code>[LONGITUDE]</code>')
%ul
  %li
    %code http://kart.finn.no/?lat=[LATITUDE]&lng=[LONGITUDE]
  %li
    %code http://search.twitter.com/search?near=[LATITUDE],+[LONGITUDE]&within=2&units=mi

%hr/

- form_for(@new_custom_link) do |f|
  = f.error_messages
  %table#custom_links
    %tr
      %th= t('activerecord.attributes.custom_link.name')
      %th= t('activerecord.attributes.custom_link.url')
    %tr#new_custom_link_row
      %td.span-5.first= f.text_field(:name, :style => 'width: 150px;')
      %td.span-15= f.text_field(:url, :style => 'width: 550px;')
      %td.span-4.last= f.submit(t('.add'))

    - current_user.custom_links.newest_first.each do |custom_link|
      %tr
        %td= h(custom_link.name)
        %td= truncate(h(custom_link.url), :length => 120)
        %td
          = link_to(t('.edit'), edit_custom_link_path(custom_link))
          |
          = link_to(t('.delete'), custom_link_path(custom_link), :method => 'delete', :confirm => t('custom_links.delete.are_you_sure_you_wish_to_delete'))
