%h2 Custom links

%p Add links here and they will will be provided in your email for each geohash.
%p
  Use
  %code
    [LATITUDE]
  and
  %code
    [LONGITUDE]
  as placeholders to be replaced with the relevant values. Here are some example links you could use: 
%ul
  %li
    %code http://kart.finn.no/?lat=[LATITUDE]&lng=[LONGITUDE]
  %li
    %code http://search.twitter.com/search?near=[LATITUDE],+[LONGITUDE]&within=2&units=mi

%hr/

- form_for(@new_custom_link) do |f|
  = f.error_messages
  %table#custom_links
    %tr
      %th Name
      %th URL
    %tr#new_custom_link_row
      %td.span-5.first= f.text_field(:name, :style => 'width: 150px;')
      %td.span-15= f.text_field(:url, :style => 'width: 550px;')
      %td.span-4.last= f.submit('Add')

    - current_user.custom_links.newest_first.each do |custom_link|
      %tr
        %td= h(custom_link.name)
        %td= truncate(h(custom_link.url), :length => 120)
        %td
          = link_to('edit', edit_custom_link_path(custom_link))
          |
          = link_to('delete', custom_link_path(custom_link), :method => 'delete', :confirm => "Are you sure you wish to delete this custom link?")
