- content_for(:javascript) do
  %script{:src => "http://maps.google.com/maps?file=api&v=2&key=#{GOOGLE_MAPS_API_KEY[request.host]}&sensor=true", :type => "text/javascript"}
  
  :javascript
    var map;
   
    function initialize() {
    
      var latlng = new google.maps.LatLng(#{@lat}, #{@lng});
      var zoomlevel = #{@location_set ? 9 : 5};
      var show_pin = #{@location_set};
      
      map = new GMap2($("map_canvas"));
      map.setCenter(latlng, zoomlevel);
      if(show_pin) {
        map.addOverlay(new GMarker(latlng));
      }
      map.setUIToDefault();
      
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          map.clearOverlays();
          map.addOverlay(new GMarker(latlng));
          map.zoomIn(latlng, true, true);
          update_home_location_fields(latlng.lat(), latlng.lng());
        }
      });
    }

- @body_attributes = {:onload => 'initialize();', :onunload => 'GUnload();'}

%h2 Choose your location
#map_canvas.span-24
  
- form_for current_user, :url => update_location_path, :method => :put do |f|
  %p If the map doesn't work for you, feel free to enter your latitude and longitude here.
  
  = f.label :lat, 'Latitude'
  = f.text_field :lat, :style => "width: 200px;"
  
  = f.label :lng, 'Longitude'
  = f.text_field :lng, :style => "width: 200px;"
  
  = f.submit('Save location', :id => 'save_location_button')
  or
  = link_to('Cancel', subscribe_path)


