.span-24
  .span-16.first
    %h2= t('.geohash_on_date_in_location', :date => l(@geohash.date, :format => :default), :location => @graticule.latitude_longitude_display)

    .span-3{:style => 'float:right;'}
      = link_to(image_tag('pdf-poster.png', :size => '74x105', :alt => t('.poster_for_this_geohash_event')), geohash_path(@geohash, :format => :pdf))
      %p
        = link_to(t('.poster_for_this_geohash_event'), geohash_path(@geohash, :format => :pdf))

    %h3= t('.details')
    %p
      %strong= t('.location')
      = @geohash.place_name_display
    %p
      %strong= t('.date')
      = l(@geohash.date, :format => :long)
    %p
      %strong= t('.graticule')
      = link_to(@graticule.display_name, pretty_graticule_path(@graticule.latitude, @graticule.longitude))
    %p
      %strong= t('.coordinates')
      = @geohash.latitude_longitude_display

    -if logged_in? && current_user.location_set?
      %p
        %strong= t('.distance')
        = t('.distance_from_your_home_location', :distance => current_user.distance_to(@geohash.lat, @geohash.lng))

    %hr/
    %h3= t('common.useful_links')

    %p.geohash_link
      = image_tag('geohashing_wiki_logo_60.png', :size => '60x60', :alt => t('wiki'))
      = link_to(t('wiki'), @geohash.wiki_link)

    %p.geohash_link
      = image_tag('peeron.png', :size => '60x60', :alt => t('peeron'))
      = link_to(t('peeron'), @geohash.peeron_link)

    %p.geohash_link
      = image_tag('anthill.png', :size => '60x60', :alt => t('anthill'))
      = link_to(t('anthill'), @geohash.anthill_link)

    %p.geohash_link
      = image_tag('google_maps.png', :size => '60x60', :alt => t('google'))
      = link_to(t('google'), @geohash.google_link)

    - if logged_in? && current_user.location_set?
      %p.geohash_link
        = image_tag('google_directions.png', :size => '60x60', :alt => t('directions'))
        = link_to(t('directions'), @geohash.directions_link(current_user.latitude_display, current_user.longitude_display))

    %p.geohash_link
      = image_tag('bing.png', :size => '60x60', :alt => t('bing'))
      = link_to(t('bing'), @geohash.bing_link)

    %p.geohash_link
      = image_tag('osm_logo_60.png', :size => '60x60', :alt => t('osm'))
      = link_to(t('osm'), @geohash.osm_link)

    %p.geohash_link
      = image_tag('geocaching_logo_60.gif', :size => '60x60', :alt => t('geocaching'))
      = link_to(t('geocaching'), @geohash.geocaching_link)

    - if logged_in?
      - custom_links = current_user.custom_links
      - if custom_links.any?
        %br/
        %hr/
        %h3= t('common.custom_links')
        %ul
          - custom_links.each do |custom_link|
            %li= link_to(h(custom_link.name), custom_link.magic_url({:latitude => @geohash.lat, :longitude => @geohash.lng}))


    %br/
    %hr/
    %h3= t('.how_the_geohash_is_calculated')
    %p
      = link_to(image_tag(@geohash.coordinate_calculation_image, :alt => t('.how_the_geohash_is_calculated'), :size => '616x343'), @geohash.coordinate_calculation_image)

  .span-8.last
    = render :partial => 'nsew'

    .google_map_container
      %p
        = image_tag(@geohash.google_map_with_graticule(request), :alt => t('.geohash_in_location', :location => @geohash.place_name_display), :size => "300x400", :class => 'google_map')
      %p
        = image_tag(@geohash.google_map(request, 12), :alt => t('.city_view'), :size => "300x200", :class => 'google_map')
      %p
        = image_tag(@geohash.google_map(request, 14), :alt => t('.street_view'), :size => "300x200", :class => 'google_map')
      -if @geohash.place_name?
        %p
          = image_tag(@geohash.google_map(request, 15, 'hybrid'), :alt => t('.hybrid_view'), :size => "300x200", :class => 'google_map')
        %p
          = image_tag(@geohash.google_map(request, 19, 'hybrid'), :alt => t('.satellite_view'), :size => "300x200", :class => 'google_map')
