%h2= t('common.privacy_policy')

%h3= t('.what_data_do_you_collect_about_me.question')
%p= t('.what_data_do_you_collect_about_me.answer')

%h3= t('.can_i_view_and_change_the_data_you_hold.question')
%p= t('.can_i_view_and_change_the_data_you_hold.answer', :link => link_to(t('.can_i_view_and_change_the_data_you_hold.edit_profile'), edit_profile_path))
  
%h3= t('.will_i_get_unwanted_email.question')
%p= t('.will_i_get_unwanted_email.answer')
  
%h3= t('.will_you_share_my_information.question')
%p= t('.will_you_share_my_information.answer')

%h3= t('.why_do_you_want_my_facebook_details.question')
%p= t('.why_do_you_want_my_facebook_details.answer', :link => link_to(t('.why_do_you_want_my_facebook_details.how_rpx_works'), 'https://rpxnow.com/how_it_works', :popup => true))
