%h2= t('common.what_is_geohashing')

%p= t('.geohashing_is_best_described')

%p= t('.an_algorithm_takes_the_dow_jones', :an_algorithm => link_to(t('.an_algorithm'), 'http://geohashing.org/Algorithm', :popup => true), :at_your_home => link_to(t('.at_your_home'), 'http://geohashing.org/Couch_Potato_Geohash', :popup => true), :your_workplace => link_to(t('.your_workplace'), 'http://geohashing.org/Cubicle_geohash_achievement', :popup => true))

%p= t('.the_aim_of_the_game', :non_permanent_marker => link_to(t('.non_permanent_marker'), 'http://geohashing.org/Marker', :popup => true))

%p= t('.there_are_several_achievements', :achievements => link_to(t('.achievements'), 'http://geohashing.org/Achievements', :popup => true))

%p= t('.for_more_information', :link => link_to('geohashing.org', 'http://geohashing.org', :popup => true))
