%h2= t('.recent_and_upcoming_globalhash_locations')

%p= t('.globalhash_explanation')

%p= t('.see_link_for_more_information', :link => link_to('http://geohashing.org/Globalhash', 'http://geohashing.org/Globalhash', :popup => true))

- @globalhashes.each do |globalhash|
  %hr/
  %h3= l(globalhash.date, :format => :long)
  .span-24
    .span-9.first
      = link_to(image_tag(globalhash.google_map(request, 0), :alt => t('.globalhash_on_date_in_location', :date => l(globalhash.date, :format => :long), :location => globalhash.place_name_display), :size => "300x200", :class => 'google_map'), pretty_globalhash_path(globalhash.date))
      %p
        = globalhash.latitude_longitude_display
        %br/
        = link_to(globalhash.place_name_display, pretty_globalhash_path(globalhash.date))

    .span-15.last
      
      %p.globalhash_link
        = image_tag('google_maps.png', :size => '60x60', :alt => t('google'))
        = link_to(t('google'), globalhash.google_link)

      %p.globalhash_link
        = image_tag('bing.png', :size => '60x60', :alt => t('bing'))
        = link_to(t('bing'), globalhash.bing_link)

      %p.globalhash_link
        = image_tag('osm_logo_60.png', :size => '60x60', :alt => t('osm'))
        = link_to(t('osm'), globalhash.osm_link)
