.span-24
  .span-15.first
    %h2= t('.globalhash_on_date', :date => l(@globalhash.date, :format => :default))

    %h3= t('geohashes.show.details')
    %p
      %strong= t('geohashes.show.location')
      = @globalhash.place_name_display
    %p
      %strong= t('geohashes.show.coordinates')
      = @globalhash.latitude_longitude_display

    -if logged_in? && current_user.location_set?
      %p
        %strong= t('geohashes.show.distance')
        = t('geohashes.show.distance_from_your_home_location', :distance => current_user.distance_to(@globalhash.lat, @globalhash.lng))

    %hr/
    %h3= t('common.useful_links')

    %p.geohash_link
      = image_tag('google_maps.png', :size => '60x60', :alt => t('google'))
      = link_to(t('google'), @globalhash.google_link)


    %p.geohash_link
      = image_tag('bing.png', :size => '60x60', :alt => t('bing'))
      = link_to(t('bing'), @globalhash.bing_link)

    %p.geohash_link
      = image_tag('osm_logo_60.png', :size => '60x60', :alt => t('osm'))
      = link_to(t('osm'), @globalhash.osm_link)

    %p.geohash_link
      = image_tag('geocaching_logo_60.gif', :size => '60x60', :alt => t('geocaching'))
      = link_to(t('geocaching'), @globalhash.geocaching_link)

    - if logged_in?
      - custom_links = current_user.custom_links
      - if custom_links.any?
        %br/
        %hr/
        %h3= t('common.custom_links')
        %ul
          - custom_links.each do |custom_link|
            %li= link_to(h(custom_link.name), custom_link.magic_url({:latitude => @globalhash.lat, :longitude => @globalhash.lng}))



  .span-8.last
    .google_map_container
      %p
        = image_tag(@globalhash.google_map(request, 1), :alt => t('.world_view'), :size => "300x200", :class => 'google_map')
      %p
        = image_tag(@globalhash.google_map(request, 5), :alt => t('.country_view'), :size => "300x200", :class => 'google_map')
      %p
        = image_tag(@globalhash.google_map(request, 8), :alt => t('.area_view'), :size => "300x200", :class => 'google_map')

      -if @globalhash.place_name?
        %p
          = image_tag(@globalhash.google_map(request, 12), :alt =>  t('geohashes.show.city_view'), :size => "300x200", :class => 'google_map')
        %p
          = image_tag(@globalhash.google_map(request, 13, 'hybrid'), :alt => t('geohashes.show.hybrid_view'), :size => "300x200", :class => 'google_map')
