- if logged_in?
  %p
    = t('authentication.welcome', :name => link_to(current_user.name, edit_profile_path))
    = link_to t('authentication.sign_out'), signout_path
- else
  = link_to(t('authentication.sign_in'), "https://#{ENV['RPX_REALM']}.rpxnow.com/openid/v2/signin?token_url=#{rpx_url}", :class => 'rpxnow button green', :onclick => 'return false;', :title => t('authentication.sign_in_with', :sign_in => t('authentication.sign_in')), :style => 'margin-top: 10px;')
    
  -content_for :post_page_load_javascript do
    %script{ :src => "https://rpxnow.com/openid/v2/widget", :type => "text/javascript" }
    :javascript
      RPXNOW.token_url = '<%= rpx_url %>';
      RPXNOW.realm = '<%= ENV['RPX_REALM'] %>';
      RPXNOW.overlay = false;

