!!!
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %meta{:name => 'google-site-verification', :content => '7wS1VqHeoxOUtml8mey6rAFA2M5Zwkg3H23-8xNDmDc'}
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'buttons.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /
      [if lt IE 8]>
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
      <![endif]
    = yield(:page_specific_stylesheets)
    
    = javascript_include_tag :defaults
    = yield(:javascript)
    
    %title Active geohasher
    
  - @body_attributes ||= {}
  %body{@body_attributes}
    .container
      .span-24.header_area
        .span-16
          = image_tag('geohashing_logo.gif', :class => 'header_logo')
          %h1.header_text Active geohasher
          %p.flags
            - AVAILABLE_LOCALES.each do |locale|
              = link_to(image_tag("flags/#{locale}.png", :class => I18n.locale.to_s == locale ? 'active' : '', :alt => t("locale.#{locale}"), :title => t("locale.#{locale}")), language_path(locale))
            
        .span-8.last{:style => "text-align:right;"}
          = render :partial => 'layouts/authentication'
          - if !logged_in?
            = link_to(t('common.what_is_geohashing'), what_is_geohashing_path, :class => 'button orange')
        
      - if flash[:success]
        .flash.success.span-24= flash[:success]
      - if flash[:notice]
        .flash.notice.span-24= flash[:notice]
      - if flash[:error]
        .flash.error.span-24= flash[:error]
          
      - if logged_in?
        = render :partial => 'layouts/navigation'
        
      .span-24
        = yield

      .span-24.footer
        Active geohasher
        |
        = link_to(t('common.privacy_policy'), privacy_path)
        |
        = link_to(t('common.what_is_geohashing'), what_is_geohashing_path)
        |
        = link_to(t('footer.source_code'), 'http://github.com/sermoa/active_geohasher')
 
    = yield(:post_page_load_javascript)
    
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-11145559-1");
        pageTracker._trackPageview();
      } catch(err) {}

