!!!
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /
      [if lt IE 8]>
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
      <![endif]
    = javascript_include_tag :defaults
    = yield(:javascript)
    
    %title Active geohasher
    
  %body
    .container
      .span-24.header_area
        .span-16
          = image_tag('geohashing_logo.gif', :class => 'header_logo')
          %h1.header_text Active geohasher
            
        .span-8.last{:style => "text-align:right;"}
          = render :partial => 'layouts/authentication'
          
      - if logged_in?
        = render :partial => 'layouts/navigation'
        
      - if flash[:notice]
        .flash.notice.span-24= flash[:notice]
      - if flash[:error]
        .flash.error.span-24= flash[:error]
        
      .span-24
        = yield
 
